
/* intital setup for css*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;800&family=Manrope&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html{
  font-size: 62.5%;
  
}
html,body{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Cairo' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
/* Add customs styles tp react slider*/
.awssld__content{
  background-color: transparent !important;
}

.awssld__bullets .awssld__bullets--active {
  background: red !important;
}
.awssld__next,.awssld__prev{
  opacity: 0;
}
.ant-spin-dot-item { 
  background-color:red !important ;
}
